# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
build/

# Checkpoints directory
checkpoints

# Dialog output dumps
dialog_output/results
word2vec/

# IPython Notebook
.ipynb_checkpoints

# virtualenv
venv/
ENV/

# plots
plots/
plot_data/